*{
    box-sizing: border-box;
}
body{
    margin:0;
    background: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; 
} 
a{
    text-decoration: none;
}
.container .left img{
    width: 450px; 
    margin: -8px; 
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1590px;
    margin-inline: auto;
    padding: 0 60px; 
    gap: 120px; 
}
.container .left{
    margin-top: -180px; 
}
h2{
    font-weight: normal;
    margin-top: 24px;
    line-height: 1.3;
    font-size: 36px;
}
.container .right{
    text-align: center;
}
form{
    display:flex;
    flex-direction: column;
    gap: 21px; 
}
.form-container{
    padding: 24px; 
    border-radius: 12px; 
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0, 0, 0.1), 0 12px 24px rgba(0,0,0,0.1); 
    width: 594px; 
    margin-bottom: 45px; 
}

form input{
    padding: 24px; 
    border-radius: 12px;
    font-size: 24px; 
    border: 1.5px solid #dddfe2;
    font-family: Arial, Helvetica, sans-serif;
}
form input:focus::placeholder{
    color:#a9a9a9;
}
form input:focus{
    outline: 1.5px solid #1877f2; 
}
form a{
    font-size: 21px; 
    text-decoration: none;
    color: #1877f2;
    padding-bottom: 30px; 
    margin-bottom: 30px; 
    border-bottom: 1.5px solid #dddfe2;
}
.btn{
    background: #1877f2;
    color:#fff;
    border:none;
    padding: 18px; 
    border-radius: 12px; 
    font-size: 30px; 
    font-weight: 500;
    cursor: pointer;
}
.btn-green{
    background: #42b72a;
    width: 525px;
    margin: -15px auto 15px; 
    color: #fff;
    border: none;
    padding: 18px; 
    border-radius: 12px; 
    font-size: 30px; 
    font-weight: 500;
    cursor: pointer;
}
.btn-green:hover{
    background: #3ca727;
}
.right p{
    font-size: 21px; 
}
.right p a{
    color:black;
    font-size: 24px; 
}

@media(max-width: 1350px){ 
    .container{
        flex-direction: column;
        text-align: center;
        gap:30px;
    }
    h2{
        font-size: 36px;
        width: 600px; 
        line-height: 1.3;
    }
    .container .left{
        margin-top: 60px; 
    }
    .form-container{
        width: 90%;
        max-width: 594px; 
    }
    .btn-green{
        width: 90%;
        max-width: 525px; 
    }
}